<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>About | eBhandar</title>
</head>

<body>
    <div class="main-navbar">
        <div class="ebhandar-logo">
            <a><img src="../img/eBhandar.png" alt=""></a>
        </div>
        <button href="#">Shop</button>
        <!-- <button href="#">Category</button> -->
        <!-- <select name="cars" id="cars">
            <option value="volvo">Category | All&#129171;</option>
            <option value="saab">Vall
            </option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select> -->
        <form method="get" action="#" role="search">
            <input type="search" placeholder="!.....Strictly Veg " aria-label="Search" name="search" id="search"/>
            <button type="submit">
                Search
            </button>
        </form>
        <button id="show-login-signup-btn" class="tooltip" onclick="window.location.href='login.html'">Login
        </button>
        <button onclick="window.location.href='cart.html'">Cart</button>

        <!-- <div class="tooltip">Hover over me
            <div class="tooltiptext">
                <button>Login</button>
                <button>SignUp</button>
            </div>
        </div> -->
    </div>

    <div class="about-page-container">
        <div class="main-about-info">
            <h1 id="main-h1">eBhandar</h1>
            <p>In Januar 2024, <b>Akanksha Group</b> launched its instant delivery service of grocery and much more
                things from
                the toun called <b>eBhandar</b> using web. In early 2024, the company started its first product called
                <b>eBhandar</b>
                and operated under <b>Akanksha Group</b> and will be continue launching new...
            </p>
            <button onclick="window.location.href='/index.html'">Continue Shopping...</button>  
        </div>
        <div class="aim-mot-about-cont">
            <div class="aim-in-about">
                <h2 id="aim-h1">Our Aim</h2>
                <p>What's Our Aim?... 
                    Our aim is to provide instant delivery service of any things available in the perticular city
                    including
                    prints and xerox, although its the big and heavy product. There is the option to view and buy
                    products
                    from your favorite store/shop anywhere in the city and also there is the option to ask for anything
                    which is not available on the site...</p>
                <button>Know More</button>
            </div>
            <div class="mot-in-about">
                <h2 id="mot-h1">Motivation</h2>
                <p>We are here to help you to get your favorite product from your favorite shop. There are many website
                    which provides delivery services but they have some limitations. In any of those there is no option
                    to
                    order from your favorite nearby shop. We provide the quick delivery of any product available in the
                    city. We are only one who also provides the delivery of prints and Xerox and much more you can
                    imagine...</p>
                <button>Know More</button>
            </div>
        </div>


    </div>
</body>

</html>