<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/account.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <div class="account-profile-sec-main">
        <h1>Account</h1>
        <div class="account-sec-profile-order-add">
            <button class="account-sec-profile">
                <div class="prof-btn-content">
                    <h3>Profile & Login</h3>
                    <p>View and edit name & other details</p>
                </div>
            </button>
            <button class="account-sec-add">
                <div class="prof-btn-content">
                    <h3>Addresses</h3>
                    <p>View and edit address details</p>
                </div>
            </button>
            <button class="account-sec-orders">
                <div class="prof-btn-content">
                    <h3>Orders</h3>
                    <p>View and track orders</p>
                </div>
            </button>
        </div>
        <div class="account-sec-pay-wish-review">
            <button class="account-sec-payment">
                <div class="prof-btn-content">
                    <h3>Payments</h3>
                    <p>View payment history and edit payment method</p>
                </div>
            </button>
            <button class="account-sec-wishlist">
                <div class="prof-btn-content">
                    <h3>Wishlist</h3>
                    <p>View your Wishlisted produsts</p>
                </div>
            </button>
            <button class="account-sec-review"> 
                <div class="prof-btn-content">
                    <h3>Reviews</h3>
                    <p>Rate and Review the products you ordered</p>
                </div>
            </button>
        </div>
    </div>



</body>
</html>