<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/addresses.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Addresses</title>
</head>
<body>
    <div class="address-main-sec">
        <h1>Addresses</h1>
        <div class="address-edit-add-new">
            <button class="address-addresses">
                <div class="add-new-btn">
                    <h3>+ Add New Address</h3>
                </div>
            </button>
            <div class="address-addresses">
                <div class="address-edit-remove">
                    <p>Home</p>
                    <div class="add-edit-remove-btn">
                        <button class="add-edit-btn">Edit</button>
                        <button class="add-remove-btn">Remove</button>
                    </div>
                </div>
                <h4>Mithun Rathod - 7777777777</h4>
                <p>Near Poorna Aqua, Patel Nagar, Lonar, Maharashtra, 443302</p>
            </div>
            <div class="address-addresses">
                <div class="address-edit-remove">
                    <p>Office</p>
                    <div class="add-edit-remove-btn">
                        <button class="add-edit-btn">Edit</button>
                        <button class="add-remove-btn">Remove</button>
                    </div>
                </div>
                <h4>Mithun Rathod - 7777777777</h4>
                <p>Near Dr. D. Y. Patil Engineering College, Sant Tukaram Nagar, Pimpri, Pune, 411018</p>
            </div>
        </div>
    </div>
</body>
</html>