<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/cart.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cart</title>
</head>

<body>
    <!-- <h1>Cart</h1> -->
    <div class="cart-main-container">
        <div class="cart-main-products-div">
            <div class="ex-product-del-cat-btn">
                <button class="instant-del-pro active" id="instant-del-pro" onclick="addActiveClIns()">Instant</button>
                <div class="vertical-line-btn"></div>
                <button class="regular-del-pro" id="regular-del-pro" onclick="addActiveClReg()">Regular</button>
            </div>
            <div class="hr-line"></div>
            <div id="regular-product-container" class="regular-product-container hide-container">
                <div class="product-details-mian-div">
                    <div class="product-image-div">
                        <img src="../img/apsara.jpg" alt="">
                    </div>
                    <div class="product-name-price-details">
                        <button class="product-name-btn">Apsara Pencil</button>
                        <p class="product-desc">Color: Black <br> HB</p>
                        <P class="product-seller-name">Seller : Mithun</P>
                        <p class="product-price-n-off">
                            <del class="product-mrp">&#x20B9; 25</del> &emsp; <Span class="produt-price">&#x20B9; 19</Span>
                            &emsp; <span class="percentage-off">- 24% off</span>
                        </p>
                        <div class="quality-remove-btns">
                            <label for="select-product-quantity">Quantity :</label>
                            <select>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="remove-btn">
                                <button class="remove-product-btn">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product-details-mian-div">
                    <div class="product-image-div">
                        <img src="../img/apsara.jpg" alt="">
                    </div>
                    <div class="product-name-price-details">
                        <button class="product-name-btn">Apsara Pencil</button>
                        <p class="product-desc">Color: Black <br> HB</p>
                        <P class="product-seller-name">Seller : Mithun</P>
                        <p class="product-price-n-off">
                            <del class="product-mrp">&#x20B9; 25</del> &emsp; <Span class="produt-price">&#x20B9; 19</Span>
                            &emsp; <span class="percentage-off">- 24% off</span>
                        </p>
                        <div class="quality-remove-btns">
                            <label for="select-product-quantity">Quantity :</label>
                            <select>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="remove-btn">
                                <button class="remove-product-btn">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product-details-mian-div">
                    <div class="product-image-div">
                        <!-- <img src="../img/apsara.jpg" alt=""> -->
                        <img src="../img/apsara.jpg" alt="">
                    </div>
                    <div class="product-name-price-details">
                        <button class="product-name-btn">Apsara Pencil</button>
                        <p class="product-desc">Color: Black <br> HB</p>
                        <P class="product-seller-name">Seller : Mithun</P>
                        <p class="product-price-n-off">
                            <del class="product-mrp">&#x20B9; 25</del> &emsp; <span class="produt-price">&#x20B9;19</span>
                            &emsp; <span style="color: rgb(0, 157, 0);" class="product-percentage-off">- 24% off</span>
                        </p>
                        <div class="quality-remove-btns">
                            <label for="select-product-quantity">Quantity :</label>
                            <select>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="remove-btn">
                                <button class="remove-product-btn">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="instant-product-container" class="instant-product-container">
                <div class="instant-del-product-div">
                    <div class="instant-del-img-div">
                        <img src="../img/banana.jpg" alt="">
                    </div>
                    <div class="instant-del-products-desc">
                        <button class="instant-del-product-name">Banana</button>
                        <p class="instant-del-product-weihgt">500 g</p>
                        <p class="instant-del-product-price"><span
                                class="instant-del-product-real-price">&#x20B9;50</span>&emsp;<del
                                class="instant-del-product-del-price">&#x20B9;60</del>&emsp;<span
                                class="instant-del-product-off">&#x20B9;10 Off</span>
                        </p>
                    </div>
                    <div class="instant-del-product-quantity-selector">
                        <button type="button">
                            <span>-</span>
                        </button>
                        <input type="number" value="1" min="1" max="10" step="1">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="instant-del-product-div">
                    <div class="instant-del-img-div">
                        <img src="../img/banana.jpg" alt="">
                    </div>
                    <div class="instant-del-products-desc">
                        <button class="instant-del-product-name">Banana</button>
                        <p class="instant-del-product-weihgt">500 g</p>
                        <p class="instant-del-product-price"><span
                                class="instant-del-product-real-price">&#x20B9;50</span>&emsp;<del
                                class="instant-del-product-del-price">&#x20B9;60</del>&emsp;<span
                                class="instant-del-product-off">&#x20B9;10 Off</span>
                        </p>
                    </div>
                    <div class="instant-del-product-quantity-selector">
                        <button type="button">
                            <span>-</span>
                        </button>
                        <input type="number" value="1" min="1" max="10" step="1">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="instant-del-product-div">
                    <div class="instant-del-img-div">
                        <img src="../img/banana.jpg" alt="">
                    </div>
                    <div class="instant-del-products-desc">
                        <button class="instant-del-product-name">Banana</button>
                        <p class="instant-del-product-weihgt">500 g</p>
                        <p class="instant-del-product-price"><span
                                class="instant-del-product-real-price">&#x20B9;50</span>&emsp;<del
                                class="instant-del-product-del-price">&#x20B9;60</del>&emsp;<span
                                class="instant-del-product-off">&#x20B9;10 Off</span>
                        </p>
                    </div>
                    <div class="instant-del-product-quantity-selector">
                        <button type="button">
                            <span>-</span>
                        </button>
                        <input type="number" value="1" min="1" max="10" step="1">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="instant-del-product-div">
                    <div class="instant-del-img-div">
                        <img src="../img/banana.jpg" alt="">
                    </div>
                    <div class="instant-del-products-desc">
                        <button class="instant-del-product-name">Banana</button>
                        <p class="instant-del-product-weihgt">500 g</p>
                        <p class="instant-del-product-price"><span
                                class="instant-del-product-real-price">&#x20B9;50</span>&emsp;<del
                                class="instant-del-product-del-price">&#x20B9;60</del>&emsp;<span
                                class="instant-del-product-off">&#x20B9;10 Off</span>
                        </p>
                    </div>
                    <div class="instant-del-product-quantity-selector">
                        <button type="button">
                            <span>-</span>
                        </button>
                        <input type="number" value="1" min="1" max="10" step="1">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            
            <br>

        </div>
        <div id="reg-cart-main-price-details-div" class="cart-main-price-details-div hide-container">
            <p class="price-table-heading">Price Details</p>
            <hr>
            <table>
                <tr>
                    <td>Price (3 items)</td>
                    <td class="price-table-right">&#x20B9;50</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td style="color: rgb(0, 157, 0);" class="price-table-right">- &#x20B9;12</td>
                </tr>
                <tr>
                    <td>Packaging</td>
                    <td class="price-table-right"><del>&#x20B9;10</del> <span style="color: rgb(0, 157, 0);">Free</span>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Charges</td>
                    <td class="price-table-right">&#x20B9;30</td>
                </tr>
            </table>
            <hr>
            <div class="price-total-amount">
                <p><b>Total Amount</b></p>
                <p><b>&#x20B9; 68</b></p>
            </div>
            <div class="place-order-btn">
                <button onclick="window.location.href='checkout.html'">PLACE ORDER</button>
            </div>

        </div>

        <div id="insta-cart-main-price-details-div" class="cart-main-price-details-div">
            <p class="price-table-heading">Price Details</p>
            <hr>
            <table>
                <tr>
                    <td>Price (4 items)</td>
                    <td class="price-table-right">&#x20B9;240</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td style="color: rgb(0, 157, 0);" class="price-table-right">- &#x20B9;40</td>
                </tr>
                <tr>
                    <td>Packaging</td>
                    <td class="price-table-right"><del>&#x20B9;10</del> <span style="color: rgb(0, 157, 0);">Free</span>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Charges</td>
                    <td class="price-table-right">&#x20B9;30</td>
                </tr>
            </table>
            <hr>
            <div class="price-total-amount">
                <p><b>Total Amount</b></p>
                <p><b>&#x20B9; 230</b></p>
            </div>
            <div class="place-order-btn">
                <button onclick="window.location.href='checkout.html'">PLACE ORDER</button>
            </div>
        </div>
    </div>

    <script src="../assets/js/cart.js"></script>
</body>

</html>