<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/checkout.css">

    <title>Checkout</title>
</head>

<body>
    <div class="main-navbar">
        <div class="ebhandar-logo">
            <a><img src="../img/eBhandar.png" alt=""></a>
        </div>
        <button href="#">Shop</button>
        <!-- <button href="#">Category</button> -->
        <!-- <select name="cars" id="cars">
            <option value="volvo">Category | All&#129171;</option>
            <option value="saab">Vall
            </option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select> -->
        <form method="get" action="#" role="search">
            <input type="search" placeholder="!.....Strictly Veg " aria-label="Search" name="search" id="search"/>
            <button type="submit">
                Search
            </button>
        </form>
        <button id="show-login-signup-btn" class="tooltip" onclick="window.location.href='login.html'">Login
        </button>
        <button onclick="window.location.href='cart.html'">Cart</button>

        <!-- <div class="tooltip">Hover over me
            <div class="tooltiptext">
                <button>Login</button>
                <button>SignUp</button>
            </div>
        </div> -->
    </div>

    <div style="padding-top: 50px;"  class="main-checkout-container">
        <div class="checkout-address-container">
            <div class="checkout-order-summary">
                <table>
                    <tr>
                        <td class="pr-table-heading">Produst Name</td>
                        <td class="pr-table-heading">Weight/Unit</td>
                        <td class="pr-table-heading">Quantity</td>
                    </tr>
                    <tr>
                        <td>1. Banana</td>
                        <td>500 g</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>2. Apsara Pencil</td>
                        <td>1</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>3. Mango</td>
                        <td>3 kg</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
            <br>
            <hr width="70%">
            <br>
            <div class="order-addresses-div">
                <div class="select-address-div">
                    <form action="#">
                        <p class="select-address-div-head">Please select your address for delivery-</p>
                        <div class="checkout-add-label">
                            <input type="radio" id="address1" name="address" value="address">
                            <label for="address1">
                                <div class="checkout-address">
                                    <p>Opp. Poorna Aqua, Patel Nagar, Lonar, Buldana, Maharashtra, 443302</p>
                                    <p>Near New Airtel tower</p>
                                </div>
                            </label>
                        </div>

                        <div class="checkout-add-label">
                            <input type="radio" id="address2" name="address" value="address">
                            <label for="address2">
                                <div class="checkout-address">
                                    <p>YCM Road, Sant Tukaram Nagar, Pimpri, Pune, Maharashtra, 411018</p>
                                    <p>Near Sree Ganesh Mandir</p>
                                </div>
                            </label>
                        </div>
                        <br>
                        <button class="checkout-add-new-address">+ Add new address</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="checkout-payment-div">
            <p>Order Amount Details</p>
            <hr>
            <table>
                <tr>
                    <td>Produsts-</td>
                    <td class="td-align-right">&#x20B9;250</td>
                </tr>
                <tr>
                    <td>Delivery-</td>
                    <td class="td-align-right">&#x20B9;40</td>
                </tr>
                <tr>
                    <td>Total-</td>
                    <td class="td-align-right">&#x20B9;290</td>
                </tr>
                <tr>
                    <td>Discount-</td>
                    <td class="td-align-right">- &#x20B9;60</td>
                </tr>
                <tr>
                    <th class="th-align-left">Total-</th>
                    <th class="td-align-right">&#x20B9;230</th>
                </tr>
            </table>
            <hr>
            <div class="checkout-select-payment-method">
                <form action="#">
                    <p>Select payment method:</p>
                    <input type="radio" id="upi" name="payment_method" value="UPI">
                    <label for="upi">UPI</label>
                    <br>
                    <input type="radio" id="card" name="payment_method" value="CARD">
                    <label for="card">Debit Card</label>
                    <br>
                    <input type="radio" id="cash-on-delivery" name="payment_method" value="CASH">
                    <label for="cash">Cash On Delivery</label>
                </form>
            </div>
            <div class="make-payment-btn">
                <button>Continue Payment</button>
            </div>
        </div>

    </div>
</body>

</html>