<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/productView.css">

<body>
    <div class="prodView-main">
        <div class="prodView-slide-container">
            <div class="prodView-slides">
                <div class="slide-images">
                    <img src="/assets/images/banana.jpg" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="/assets/images/almond.jpg" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="/assets/images/grapes.jpg" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="/assets/images/cashew.webp" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="/assets/images/carrot.jpg" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="/assets/images/cabbage.jpg" style="width:100%; height:300px">
                </div>
            </div>
            <div class="image-option-row">
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/banana.jpg" style="width:100%; height:100px"
                        onmouseover="currentSlide(1)" alt="The Woods">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/almond.jpg" style="width:100%; height:100px"
                        onmouseover="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/grapes.jpg" style="width:100%; height:100px"
                        onmouseover="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/cashew.webp" style="width:100%; height:100px"
                        onmouseover="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/carrot.jpg" style="width:100%; height:100px"
                        onmouseover="currentSlide(5)" alt="Nature and sunrise">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="/assets/images/cabbage.jpg" style="width:100%; height:100px"
                        onmouseover="currentSlide(6)" alt="Snowy Mountains">
                </div>
            </div>
        </div>

        <div class="prdView-product-desc">
            <h2>Prodct Name</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem omnis nam dicta, nostrum illum hic
                consequuntur explicabo, vitae quasi qui reprehenderit aut soluta accusamus ad ex sed! Ducimus eaque
                minima pariatur, quibusdam quae eos, perferendis mollitia placeat blanditiis, ipsum fugiat! Error,
                reiciendis? Voluptatibus, quos! Est corrupti iusto praesentium! Corrupti, debitis. Quod, culpa debitis
                atque sunt eligendi nemo quae assumenda unde tempora officiis, fugiat laboriosam placeat quam aperiam,
                quisquam animi tempore!</p>

                <div class="proView-btns">
                    <button style="background-color: rgb(136, 196, 255);">Add To Cart</button>
                    <button style="background-color: rgb(255, 189, 68);">Buy Now</button>
                </div>
        </div>
    </div>


    <script src="/assets/js/productView.js"></script>

</body>

</html>