<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <div class="main-navbar">
        <div class="ebhandar-logo">
            <a><img src="../img/eBhandar.png" alt=""></a>
        </div>
        <button href="#">Shop</button>
        <!-- <button href="#">Category</button> -->
        <!-- <select name="cars" id="cars">
            <option value="volvo">Category | All&#129171;</option>
            <option value="saab">Vall
            </option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select> -->
        <form method="get" action="#" role="search">
            <input type="search" placeholder="!.....Strictly Veg " aria-label="Search" name="search" id="search"/>
            <button type="submit">
                Search
            </button>
        </form>
        <button id="show-login-signup-btn" class="tooltip" onclick="window.location.href='login.html'">Login
        </button>
        <button onclick="window.location.href='cart.html'">Cart</button>

        <!-- <div class="tooltip">Hover over me
            <div class="tooltiptext">
                <button>Login</button>
                <button>SignUp</button>
            </div>
        </div> -->
    </div>

    <div style="margin-top: 100px;"  class="pofile-page-heading">
        <h2>Profile details</h2>
    </div>
    <div class="profile-main-container">
        <div class="profile-cont-details-divs">
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Name</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="Mithun Rathod" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Mobile Number</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="421" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Email</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="www.comgov.com/http.com" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Password</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>

                <p>*******</p>
            </div>
        </div>

        <div class="profile-cont-buttons">
            <div class="profile-other-ops-btn">
                <button>
                    Profile
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Addresses
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Payments
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Wishlist
                </button>
            </div>
        </div>
    </div>
</body>
</html>