<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <div class="pofile-page-heading">
        <h2>Profile details</h2>
    </div>
    <div class="profile-main-container">
        <div class="profile-cont-details-divs">
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Name</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="Mithun Rathod" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Mobile Number</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="421" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Email</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>
                <input type="text" id="country" name="country" value="www.comgov.com/http.com" readonly>
            </div>
            <div class="profile-detail-n-edit">
                <div class="profile-detail-heading">
                    <h3>Password</h3>
                    <button style="margin:5px; padding: 4px;">Edit</button>
                </div>

                <p>*******</p>
            </div>
        </div>

        <div class="profile-cont-buttons">
            <div class="profile-other-ops-btn">
                <button>
                    Profile
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Addresses
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Payments
                </button>
            </div>
            <div class="profile-other-ops-btn">
                <button>
                    Wishlist
                </button>
            </div>
        </div>
    </div>
</body>
</html>