<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/search_n_cat.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Search</title>
</head>

<body>
    <div class="search-cat-main-container">
        <div class="search-cat-product-div">
            <div class="search-cat-head-sort">
                <h3>Showing results for Pista (1 - 32 products of 300 products)</h3>
                <h4>page 1 of 10</h4>
            </div>
            <div class="search-cat-4-products">
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/pista.png" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/pista.png" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/pista.png" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/pista.png" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
            </div>
            <div class="search-cat-4-products">
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/banana.jpg" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/almond.jpg" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/kishmish.jpg" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
                <div class="search-cat-product">
                    <button class="img-btn-from-search-cat" onclick="window.location.href='/templates/productView.html'">
                        <img src="/assets/images/almond.jpg" alt="">
                    </button>
                    <p><b>Prod name</b></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="search-cat-product-price"><b>&#x20B9; 200</b> 
                        <del style="font-size: 12px;" class="search-cat-product-price-del">&#x20B9;240</del> 
                        <span style="font-size: 12px; color:green" class="search-cat-off-price">(&#x20B9;40 off)</span>
                    </p>
                    <button class="add-to-cart-from-search-cat">Add To Cart</button>
                    <button class="quick-view-from-search-cat">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="search-cat-filter-div">
            <div class="search-cat-filter-sort">
                <h3>Filters</h3>
                <hr>
                <div class="search-cat-filter-by-price">
                    <p><b>By Price</b></p>
                    <form action="#" method="get">
                        <input type="checkbox" name="upto100" value="upto100">
                        <label for="upto100">Upto 100</label>
                        <br>
                        <input type="checkbox" name="upto500" value="upto500">
                        <label for="upto500">100 - 500</label>
                        <br>
                        <input type="checkbox" name="upto1000" value="upto1000">
                        <label for="upto1000"> 500 - 1000</label>
                        <br>
                        <input type="checkbox" name="upto3000" value="upto3000">
                        <label for="upto3000"> 1000 - 3000</label>
                        <br>
                        <button>Submit</button>
                    </form>
                </div>
                <hr>
                <div class="search-cat-filter-by-rating">
                    <p><b>By ratings</b></p>
                    <form action="#" method="get">
                        <input type="checkbox" name="above4" value="above4">
                        <label for="above4"> above 4</label>
                        <br>
                        <input type="checkbox" name="above3" value="above3">
                        <label for="above3"> above 3</label>
                        <br>
                        <input type="checkbox" name="above2" value="above2">
                        <label for="above2">above 2</label>
                        <br>
                        <button>Submit</button>
                    </form>
                </div>
                <hr>
                <div class="search-cat-filter-by-discount">
                    <p><b>By Discount</b></p>
                    <form action="#" method="get">
                        <input type="checkbox" name="above10" value="above10">
                        <label for="above10">above 10%</label>
                        <br>
                        <input type="checkbox" name="above20" value="above20">
                        <label for="above20">above 20%</label>
                        <br>
                        <input type="checkbox" name="above30" value="above30">
                        <label for="above30"> above 30%</label>
                        <br>
                        <input type="checkbox" name="above40" value="above40">
                        <label for="above40"> above 40%</label>
                        <br>
                        <input type="checkbox" name="above50" value="above50">
                        <label for="above50"> above 50%</label>
                        <br>
                        <button>Submit</button>
                    </form>
                </div>
                <hr>
                <div class="search-cat-filter-by-offers">
                    <p><b>By Offers</b></p>
                    <form action="#" method="get">
                        <input type="checkbox" name="buyone" value="buyone">
                        <label for="buyone">buy one get one</label>
                        <br>
                        <input type="checkbox" name="flatoff" value="flatoff">
                        <label for="flatoff">flat 50 Rs Off</label>
                        <br>
                        <button>Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>