<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="main-navbar">
        <div class="ebhandar-logo">
            <a><img src="../img/eBhandar.png" alt=""></a>
        </div>
        <button href="#">Shop</button>
        <!-- <button href="#">Category</button> -->
        <!-- <select name="cars" id="cars">
            <option value="volvo">Category | All&#129171;</option>
            <option value="saab">Vall
            </option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select> -->
        <form method="get" action="#" role="search">
            <input type="search" placeholder="!.....Strictly Veg " aria-label="Search" name="search" id="search"/>
            <button type="submit">
                Search
            </button>
        </form>
        <button id="show-login-signup-btn" class="tooltip" onclick="window.location.href='login.html'">Login
        </button>
        <button onclick="window.location.href='cart.html'">Cart</button>

        <!-- <div class="tooltip">Hover over me
            <div class="tooltiptext">
                <button>Login</button>
                <button>SignUp</button>
            </div>
        </div> -->
    </div>

    <div style="margin-top: 100px;" class="signup-main-container">
        <div class="ebhandar-side-logo">
            <img src="../img/eBhandar.png" alt="">
            <h1>Sign Up</h1>
        </div>
        <div class="signup-form-div">
            <form action="#">
                <label for="first_name">First name:</label><br>
                <input type="text" id="first_name" name="first_name">
                <br>
                <label for="last_name">Last name:</label><br>
                <input type="text" id="last_name" name="last_name">
                <br>
                <label for="phone">Mobile Number:</label><br>
                <input type="text" id="phone" name="phone">
                <br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email">
                <br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password">
                <br>
                <label for="re_pass">Re-enter Password:</label><br>
                <input type="text" id="re_pass" name="re_pass">
                <br>
                <button type="submit">Sign Up</button>
              </form> 
              <a href="templates/login.html">Already have an account</a>
        </div>
    </div>
</body>
</html>